<div class="main_page_container">
	
	<div class="container-fluid header_title_container">
		<div class="row">
			<div class="col-xs-12">
				<div class="header_title_content">
					<!-- TABS -->
				
					<div class="tabbable-panel">
						<div class="tabbable-line">
							<ul class="nav nav-tabs ">
								<li>
									<%= link_to crawls_path do %>
									    <i class="glyphicon glyphicon-folder-open">
											<span class="glyph_text">Projects</span>
										</i>
									<% end %>
								</li>
		
								<li class="active">
									<%= link_to pending_crawls_path do %>
									    <i class="glyphicon glyphicon-exclamation-sign">
											<span class="glyph_text">Pending</span>
										</i>
									<% end %>
								</li>
							
								<!-- <li >
									<%= link_to '#' do %>
									    <i class="glyphicon glyphicon-ok">
											<span class="glyph_text">Available</span>
										</i>
									<% end %>
								</li> -->
								<div class="header_button pull-right">
									<p><%= link_to "CREATE NEW", new_project_path, class: 'btn btn-success btn-sm', 'data-no-turbolink': true %></p>
								</div>
							</ul>
						</div>
					</div>
				
					<!-- TABS -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid container_section pending_crawls_list_container">
		<div class="row">
			<div class='col-xs-12'>
				
				<ul id="pending_crawls" data-update-url="<%= sort_pending_crawls_url %>">
					
					<div class="page-header">
					  <h3>Click and drag to sort the order</h3>
					</div>
					
					<% @crawls.each do |c| %>
						
						<%= content_tag_for :li, c do %>
							<div class='row'>
								<div class='handle_div'>
									<span class="handle glyphicon glyphicon-align-justify" aria-hidden="true"></span>
								</div>
								<div class='name'>
									<%= c.crawl.name %>
								</div>
							</div>
						<% end %>
						
					<% end %>
				</ul>
				
			</div>
		</div>
	</div>

</div>
