<div class="new_project_form_container">
	
	<%= form_for @project do |f| %>
		
		<div class="field_container text-center">
			
			<div class="field_label">
				<%= f.label :name %>
			</div>
			
			<div class="field">
				<%= f.text_field :name, class: "form-control" %>
			</div>
			
		</div>

		<div class="field_container text-center">
			
			<div class="field_label">
				<%= label_tag :urls, "URL List" %>
			</div>
			
			<div class="field">
				<%= text_area_tag :urls, nil, class: "form-control", rows: "10" %>
			</div>
			
		</div>
		
		<div class="field_container text-center">
			
			<div class="field_label">
				<%= f.label :maxpages, "Number Of Pages To Crawl" %>
			</div>
			
			<div class="field">
				<%= f.text_field :maxpages, class: "form-control" %>
			</div>
			
		</div>
		
		<!-- <div class="field_container text-center">

			<div class="field_label">
				<%#= label_tag "Link Depth" %>
			</div>

			<div class="field">
				<label>
					<%#= radio_button_tag :link_depth, "1", checked: true %>
					<span class="radio_label"></span>
				</label>
				<label>
					<%#= radio_button_tag :link_depth, "2" %>
				</label>
				<label>
					<%#= radio_button_tag :link_depth, "3" %>
				</label>
			</div>

		</div> -->
		
		<div class="field_container text-center pink_form_submit_btn_container">
			
			<div class="field_label">
				<%= f.submit "Start Crawl", class: 'btn pink_form_submit_btn' %>
			</div>
			
		</div>
		
	<% end %>
	
</div>