<div class="container-fluid container_section">
	
		<div class="row">
		
			<div class="col-xs-12">
			
				<div class="row">
					
					<div class="panel panel-default">
						<div class="panel-heading panel_pink_heading panel_glyph_container">
							
							<div class="header_glyph">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
							</div>
							<div class="header_text">
								<p>Sites</p>
							</div>
							
						</div>
						<div class="panel-body">
							
							<table class="table table-hover table-striped">
								
								<thead>
									<tr>
										<!-- <th></th> -->
										<th>SITE</th>
										<th class="text-center">URLS</th>
										<th class="text-center">BROKEN</th>
										<th class="text-center">EXPIRED</th>
										<th class="text-center">CRAWL STATUS</th>
									</tr>
								</thead>
								
								<tbody>
									
									<% @project.sites.each do |s| %>
										
										<tr>
											<!-- <td>
												<span class="glyphicon glyphicon-trash glyph_pink" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											</td> -->
											<td><%= s.base_url %></td>
											<td class="text-center"><%= s.links.map(&:links).flatten.count %></td>
											<td class="text-center"><%= s.pages.where(status_code: '404').count %></td>
											<td class="text-center"><%= s.pages.where(status_code: '0').count %></td>
											<td class="text-center"><%= s.gather_links_batch.status if s.gather_links_batch %></td>
										</tr>
										
									<% end %>
									
								</tbody>
								
							</table>
							
						</div>
					</div>
					
				</div>
			
			</div>
		
		</div>
	
	</div>

