<div class="main_page_container">
	<div class='container-fluid header_title_container'>
		<div class='row'>
			<div class='col-xs-12'>
				<div class="header_title_content">
					<div class='header_glyph'>
						<span class='glyphicon glyphicon-stats' aria-hidden="true"></span>
					</div>
					<div class='header_text'>
						<p>My Account</p>
					</div>
				</div>
				<%= link_to 'Help & Support', 'http://source-wave.com/support', class: 'pull-right' %>
			</div>
		</div>
	</div>

	<div class='account-container'>
		<div class='row'>
			<div class='col-lg-6'>

				<div class='row'>
					<div class='panel-container'>
						<div class='panel panel-default panel-round'>
							<div class='panel-heading panel_blue_heading white_text panel_glyph_container'>
                <p>User Info</p>
							</div>
							<div class='panel-body'>
								<%= form_for @user, :html => {class: 'revive-form'} do |f| %>

									<% if @user.errors.any? %>
										<div id='error_explanation'>
											<h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this event from being saved:" %></h2>
											<ul>
												<% @user.errors.full_messages.each do |message| %>
													<li><%= message %></li>
												<% end %>
											</ul>
										</div>
									<% end %>

									<div class='row'>
										<div class='col-lg-12'>
											<div class='form-group'>
												<%= f.label :email %>
												<%= f.email_field :email, :autofocus => true, placeholder: '007@MI6.gov.uk', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-6'>
											<div class='form-group'>
												<%= f.label :password %>
												<%= f.password_field :password, placeholder: 'J4M35B0ND007', class: 'form-control' %>
											</div>
										</div>

										<div class='col-lg-6'>
											<div class='form-group'>
												<%= f.label :password_confirmation %>
												<%= f.password_field :password_confirmation, placeholder: 'J4M35B0ND007', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='form-group'>
											<div class='col-lg-12'>
												<%= f.submit class:'btn btn-green btn-block' %>
											</div>
										</div>
									</div>

								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div class='row'>

					<div class='panel-container subscription-plan'>
						<div class="panel panel-default panel-round">
							<div class='panel-heading panel_blue_heading white_text'>
                <p>
                  <div class='row'>
                    <div class='col-xs-6 col-sm-6'>
                      <h3 class='panel-title'>Subscription Plan</h3>
                    </div>
                    <div class='col-xs-6 col-sm-6'>
                      <h3 class='pull-right panel-title'><%= @current_user.subscription.status.capitalize %></h3>
                    </div>
                  </div>
                </p>
							</div>
							<div class='panel-body'>
								<div class='limit-container'>
									<div class='limit'>
                    <div class='amount'>
                      <%= (@plan.minutes_per_month.to_f-@user.minutes_used.to_f).to_i %>
                    </div>
                    <div class='title'>Minutes Available</div>
									</div>
									<div class='limit'>
                    <div class='amount'>
                      <%= @plan.crawls_at_the_same_time %>
                    </div>
                    <div class='title'>Crawls At Once</div>
									</div>
									<div class='limit'>
                    <div class='amount'>
                      <%= @plan.pages_per_crawl %>
                    </div>
                    <div class='title'>Pages Per Crawl</div>
									</div>
								</div>
                <div class='bottom'>
                  <%= link_to 'Upgrade Plan', dashboard_path, class:'btn btn-green pull-left', disabled: true %>
                  <% if @current_user.subscription.active? %>
                    <%= link_to 'Unsubscribe', subscriptions_path, method: :delete, class:'btn btn-red-hollow pull-right', data:{disable_with:'Working Magic..' } %>
                  <% else %>
                    <%= link_to 'Subscribe', subscriptions_path, method: :put, class:'btn btn-success pull-right', data:{disable_with:'Working Magic..' } %>
                  <% end %>
                </div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class='col-lg-6'>
				<div class='row'>
					<div id='subscription' class='panel-container'>
						<div class='panel panel-default panel-round'>
							<div class='panel-heading panel_blue_heading white_text'>
                <p>Billing Details</p>
							</div>
							<div class='panel-body'>
								<%= form_for @user, :html => {class: 'revive-form'} do |f| %>

									<% if @user.errors.any? %>

										<div id='error_explanation'>
											<h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this event from being saved:" %></h2>
											<ul>
												<% @user.errors.full_messages.each do |message| %>
													<li><%= message %></li>
												<% end %>
											</ul>
										</div>

									<% end %>

									<div class='row'>
										<div class='col-lg-6'>
											<div class='form-group'>
												<%= f.label :first_name %>
												<%= f.text_field :first_name, placeholder: 'Phillip', class: 'form-control' %>
											</div>
										</div>
										<div class='col-lg-6'>
											<div class='form-group'>
												<%= f.label :last_name %>
												<%= f.text_field :last_name, placeholder: 'Sherman', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-12'>
											<div class='form-group'>
												<%= f.label :phone %>
												<%= f.text_field :phone, placeholder: '123-456-7890', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-12'>
											<div class='form-group'>
												<%= f.label :address_1 %>
												<%= f.text_field :address_1, placeholder: '42 Wallaby Way', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-12'>
											<div class='form-group'>
												<%= f.label :address_2 %>
												<%= f.text_field :address_2, placeholder: 'Suite 123', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-4'>
											<div class='form-group'>
												<%= f.label :city %>
												<%= f.text_field :city, placeholder: 'Sydney', class: 'form-control' %>
											</div>
										</div>

										<div class='col-lg-4'>
											<div class='form-group'>
												<%= f.label :state %>
												<%= f.text_field :state, placeholder: 'New South Wales', class: 'form-control' %>
											</div>
										</div>

										<div class='col-lg-4'>
											<div class='form-group'>
												<%= f.label :zip %>
												<%= f.text_field :zip, placeholder: '2000', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='col-lg-12'>
											<div class='form-group'>
												<%= f.label :country %>
												<%= f.text_field :country, placeholder: 'Australia', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class='row'>
										<div class='form-group'>
											<div class='col-lg-12'>
												<%= f.submit 'Update Billing Details', class:'btn btn-block btn-green' %>
											</div>
										</div>
									</div>

								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
