<%= render 'nav/sales_top_nav' %>

<!-- Start introduction section -->
<div class="sales-intro-section">
  <div class="sales-video-section">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Never Pay More Than $9 For A PR Link Again</h1>
        <div class="col-md-12">
          <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="sales-btn-started">
            <a class="btn btn-success" href="#">CLICK HERE TO GET STARTED</a>
          </div>
        </div>

        <div class="col-md-12 sales-guarantee-checkout">
          <div class="col-md-7">
			<%= image_tag 'money_back_guarantee.png', class: 'guarantee-icon pull-left' %>
            <p class="pull-left">30 Day Money-Back Guarantee</p>
			<%= image_tag 'secure_checkout.png', class: 'guarantee-icon pull-left' %>
            <p class="pull-left">Secure Checkout</p>
          </div>
          <div class="col-md-5">
            <div class="col-md-3 sales-no-padding-lr text-right">
				<%= image_tag 'visa_icon.png' %>
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
				<%= image_tag 'master_icon.png' %>
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
				<%= image_tag 'american_express_icon.png' %>
            </div>
            <div class="col-md-3 sales-no-padding-lr text-right">
				<%= image_tag 'discover_icon.png' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End introduction section -->

<!-- Start access count section -->
<div class="container">
  <div class="col-md-10 col-md-offset-1 sales-section">
    <div class="col-md-2">
		<%= image_tag 'access_section.png' %>
    </div>
    <div class="col-md-10">
      <h3 class="sales-section-title">Access To The Most Powerful SEO Domains Online</h3>
      <p class="sales-section-text">
        It is common knowledge that building your own network of powerful high authority domains is the holy grail of SEO link building. The only issue is it time consuming and extremely expensive. Until now.
      </p>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 sales-section">
    <img src="/assets/statistics.png" />
<!--     <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-primary">123456</h4>
      <p class="sales-section-text-gray">URLS FOUND</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-black">123456</h4>
      <p class="sales-section-text-gray">BROKEN DOMAINS</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-black">123456</h4>
      <p class="sales-section-text-gray">EXPIRED DOMAINS</p>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="sales-subtitle-red">Finished</h4>
      <p class="sales-section-text-gray">STATUS</p>
    </div> -->
  </div>

  <div class="col-md-12 sales-section" style="margin-bottom: 80px;">
    <div class="col-md-6">
      <div class="col-md-2">
		  <%= image_tag 'push_button.png' %>
      </div>
      <div class="col-md-10">
        <p class="sales-small-title">
          Push Button Power Domain Lists
        </p>
        <p class="sales-small-text">
          At the push of a button Revive will deliver you a custom list of high powered quality relevant unregistered domains for you use for your PBN.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-2">
		  <%= image_tag 'money_save.png' %>
      </div>
      <div class="col-md-10">
        <p class="sales-small-title">
          Save Thousands On Your Link Building
        </p>
        <p class="sales-small-text">
          Building a authority site network you own will cost youhundreds to thousands of dollars. With Revive you can build your entire network for 1/20th the cost.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End access count section -->

<!-- Start logo section -->
<div class="col-md-12 sales-save-section">
  <div class="col-md-6 col-md-offset-3 text-center sales-logo-section">
	  <%= image_tag 'logo_blue.png' %>
  </div>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3 class="sales-section-title">Save Money. Save Time. Save Sanity.</h3>
    <div class="col-md-10 col-md-offset-1 text-center">
      <p class="sales-section-text">
        Make The Most Complicated, Expensive, Time Consuming Part Of SEO Made Push Button Simple
      </p>
    </div>
  </div>
</div>
<!-- End logo section -->

<!-- Start How it works section -->
<div class="sales-how-works-section" style="margin-top: 50px;">
  <div class="col-md-10 col-md-offset-1">
    <h1>HOW IT WORKS</h1>
    <div class="sales-how-it-works">
      <div class="row">
        <div class="col-md-6 pull-left text-right">
          <div class="left-text" style="height:120px">
            <p class="process-title">Revive Creates</p>
            <span class="process-text">
              Revive helps you create a list of powerful relevant domains for it to scan and dig into. This <span class="process-core">takes seconds to do...</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-right text-left">
          <div class="right-text" style="height: 190px; padding-top: 30px;">
            <p class="process-title">Revive Digs</p>
            <span class="process-text">
              Revive takes the list of domains and digs into their linking structure finding links to old domains that have still have <span class="process-core">powerful real links in place.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-left text-right">
          <div class="left-text" style="height:120px">
            <p class="process-title">Revive Reports</p>
            <span class="process-text">
              Revive delivers a report of powerful unregistered domains you can pick upfor next to nothing. It also <span class="process-core">removes allspammy domains</span> and <span class="process-core">organizes the sites by power</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-right text-left">
          <div class="right-text" style="height: 120px; padding-top: 40px;">
            <p class="process-title">Revival</p>
            <span class="process-text">
              With just a few button presses you have aquired turbopowered domains for your SEO at 1/10th of normal price and without any work. <span class="process-core">Revive does it ALL for you.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- End How it works section -->

<!-- Start interface section -->
<div class="container sales-section">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h3 class="sales-section-title">No Thought Needed Interface</h3>
    <p class="sales-section-text text-center">
      All this is included inside a “any level” friend interface that requires NO technical knowledge or extra addons.
    </p>
  </div>
</div>

<div class="row sales-section" style="margin-left: 0px; margin-right:0px">
  <div class="col-md-5">
    <div class="col-md-8 pull-right">
      <div class="sales-require-box">
        <div class="box-header">
          <p class="box-header-title">Revive requires absolutely no:</p>
        </div>
        <ul>
          <li>Technical knowledge</li>
          <li>Additional purchases</li>
          <li>Complicated data entry</li>
          <li>PHD in domain finding</li>
          <li>Proxies, fake accounts, etc</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-7 sales-interface">
    <img src="/assets/interface_sample.png" />
  </div>
</div>
<!-- End interface section -->

<!-- Start Revive watch section -->
<div class="sales-revive-section" style="margin-top: 90px">
  <div class="sales-revive-video-section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>Watch Revive Do It’s Thing</h1>
        <div class="col-md-12">
          <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <h1 class="sales-black">Yes,</h1>
          <h3 class="sales-black-italic">
            I would like to save thousands on domains, outsource hundreds of hours of work and put finding powerful link sources on autopilot...
          </h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <a class="btn sales-start-button" href="#">CLICK HERE TO START</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Revive watch section -->