<ul class="left_nav_container">
  <li <% if @nav == 'dashboard' %>class='active'<% end %>>
    <%= link_to dashboard_path do %>
		  <i class="glyphicon glyphicon-home">
        <span class='glyph_text'>Dashboard</span>
      </i>
    <% end %>
  </li>

  <li <% if @nav == 'new-crawl' %>class='active'<% end %>>
		<%= link_to new_project_path do %>
		    <i class="glyphicon glyphicon-plus">
				<span class="glyph_text">New</span>
			</i>
		<% end %>
	</li>

  <li <% if @nav == 'projects' %>class='active'<% end %>>
    <%= link_to crawls_path do %>
		  <i class="glyphicon glyphicon-folder-close">
        <span class='glyph_text'>Projects</span>
      </i>
    <% end %>
  </li>

	<li class=<%= 'active' if current_page?(crawls_path) %> >
		<%= link_to sites_path('user_id' => current_user.id) do %>
		    <i class="glyphicon glyphicon-th-list">
				<span class="glyph_text">Domains</span>
			</i>
		<% end %>
	</li>

  <% if current_user.admin %>
    <li class=<%= 'active' if current_page?(admins_path) %> >
      <%= link_to admins_path do %>
          <i class="glyphicon glyphicon-cog">
          <span class="glyph_text">Admin</span>
        </i>
      <% end %>
    </li>
  <% end %>
</ul>
